/* Modified CSS Reset */
@import "modern-normalize";

/* Global Styles */
:root {
  line-height: 1.5;
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin and Padding */
* {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Media Defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  max-inline-size: 100%;
}

/* Form Elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Text Overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset Margins */
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* Root Stacking Context */
#root,
#__next {
  isolation: isolate;
}

/* Body Styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: hsl(240, 30%, 20%);
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 20%, 0.5);
  border-radius: 10px;
}
.header {
  background-color: hsl(240, 30%, 20%);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  border-bottom: 1px solid #333;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 1;
}

header {
  animation: zoomInOut 5s forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
    background-color: #fff;
    color: #333;
  }
  100% {
    transform: scale(1);
  }
}

.image-container {
  height: 16vh;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.ibb.co/sPRxMcb/Simplisticgameicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}

.score {
  font-size: 1rem;
  font-weight: lighter;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;
}
p {
  background-color: hsl(240, 30%, 20%);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
p:hover {
  background-color: #fff;
  color: #333;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 1.5px 1.5px hsla(0, 0%, 20%, 0.5);
  transition: all 0.5s ease;
}

.choices {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.button {
  background-color: hsl(240, 30%, 20%);
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  margin: 10px;
  box-shadow: 1.5px 1.5px hsla(0, 0%, 20%, 0.5);
  border-radius: 5%;
  transition: background-color 0.5s ease;
}
.button:hover,
.restart-button:hover {
  background-color: #fff;
  color: #333;
}

.result {
  font-size: 1.5rem;
  font-weight:lighter;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
  word-wrap: break-word;
}
.restart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.restart-button {
  background-color: hsl(240, 30%, 20%);
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  margin: 10px;
  box-shadow: 1.5px 1.5px hsla(0, 0%, 20%, 0.5);
  border-radius: 5%;
}
/* Responsive Design */
@media (max-width: 480px) {
  .button,
  .restart-button {
    padding: 10px 15px;
  }
  p {
    font-size: 1.5rem;
  }
}
